:root {
  /** COLORS **/
  --background-color: #232323;
  --header-color: white;
  --navigation-menu-color: #89cff0;
  --link-color: #89cff0;
  --work-experience-year-color: #9e9e9e;
  --work-experience-description-color: #d6d6d6;
  --work-experience-skills-color: #9e9e9e;

  /** PADDING **/
  --big-text-padding: 30px;
  --inner-text-padding: 10px;
}

/** FONT **/
.anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-bold {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

.background {
  background-color: var(--background-color);
}

body {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
  font-family: "Anonymous Pro", monospace;
  margin: 0; /* Remove default margin */
  font-weight: 400;
}

h1 {
  font-weight: 700;
}

.nav-header {
  margin-bottom: var(--big-text-padding);
}

.links {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  padding: 0;
}

.link {
  color: var(--header-color); /* Match the header color defined in :root */
  font-family: "Anonymous Pro", monospace; /* Match the font family */
  font-weight: 400; /* Match the font weight of h4 */
  font-style: normal; /* Ensure normal font style */
  text-decoration: none; /* Remove underline */
  font-size: 1.5rem; /* Set the font size to match h4 */
}

.link:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Add space around the vertical bar */
.link-item {
  margin: 0 10px; /* Add horizontal margin for spacing */
}

span {
  color: var(--header-color);
}
